<%- include("templates/header", {styles: ["../../css/todo.css"]}) %> 
    <h1>Hello, <%=username%>.</h1>
    <h2>You are viewing <%=viewUser%>'s To-Do List</h2>

    <table>
        <tr>
            <th> &ensp; # &ensp; </th>
            <th> &ensp; Description &ensp; </th>
        </tr>
        <% let i=0; %>
		<% for(i=0; i < todoItems.length; i++) { %>
            <%- include('templates/todoItem', {todoItem: todoItems[i], index: i + 1})  %> 
        <% } %> 
    </table>

    <form action="/admin" method="get">
        <button>Back</button>
    </form>
<%- include("templates/footer") %> 