<%- include("templates/header") %> 
    <h1>Sign-Up</h1>
    <form action="/createUser" method="post">
        <input name="username" type="text" placeholder="username"> <br>
        <input name="email" type="text" placeholder="email"> <br>
        <input name="password" type="text" placeholder="password"> <br>
        <button>Sign Up</button> <br>
    </form>

    <% if (userMsg != "undefined") { %>
        <br> <%=userMsg%>
    <% }  
    if (emailMsg != "undefined") { %>
        <br> <%=emailMsg%>
    <% }  
    if (passMsg != "undefined") { %>
        <br> <%=passMsg%>
    <% } %>
<%- include("templates/footer") %> 